:root {
    --main-color: #0078ff;
}
html {
    font-size: 16px;
}
#home {
    background-image: url(../images/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
nav {
    z-index: 999;
}
.under-nav-line {
    position: relative;
}
.under-nav-line::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background: white ;
    transition-property: all;
    transition-duration: 1s;
}
.under-nav-line:hover::before {
    width: 60%;   
}

header .content h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}
.content h2::after {
    content: " |";
    animation-name: words;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes words {
    0% {  content: " .|";  }
    2% {  content: " C|";  } 
    4% {  content: " CE|";  } 
    6% {  content: " CEO|";  } 
    8% {  content: " CEO |";  } 
    10% {  content: " CEO D|";  } 
    12% {  content: " CEO De|";  } 
    14% {  content: " CEO Dev |";  } 
    16% {  content: " CEO DevF|";  } 
    18% {  content: " CEO DevFo|";  } 
    20% {  content: " CEO DevFol|";  } 
    22% {  content: " CEO DevFoli|";  } 
    24% {  content: " CEO DevFolio|";  } 
    26% {  content: " CEO DevFolio|";  } 
    28% {  content: " CEO DevFoli|";  } 
    30% {  content: " CEO DevFol|";  } 
    32% {  content: " CEO DevFo|";  } 
    34% {  content: " CEO DevF|";  } 
    36% {  content: " CEO Dev|";  } 
    38% {  content: " CEO De |";  } 
    40% {  content: " CEO D|";  }
    42% {  content: " CEO |";  } 
    44% {  content: " CEO|";  }  
    46% {  content: " CE|";  }
    48% {  content: " C|";  }
    50% {  content: " C|";  }  
    52% {  content: " |";  }
    54% {  content: " .";  }
    56% {  content: " D|";  }
    58% {  content: " De|";  }
    60% {  content: " Des|";  }
    62% {  content: " Desi|";  }
    64% {  content: " Desig|";  }
    66% {  content: " Design|";  }
    68% {  content: " Designe|";  }
    70% {  content: " Designer|";  }
    72% {  content: " Designe|";  }
    74% {  content: " Design|";  }
    76% {  content: " Desig|";  }
    78% {  content: " Desi|";  }
    80% {  content: " Des|";  }
    82% {  content: " De|";  }
    84% {  content: " D|";  }
    86% {  content: " |";  }
    88% {  content: " H|";  }
    90% {  content: " He|";  }
    92% {  content: " Hello|";  }
    94% {  content: " Hel|";  }
    96% {  content: " He|";  }
    98% {  content: " H|";  }
    100% {  content: " .|";  }
}

/* about me section */
section {
    background-color: #f5f5f5;
}
.underline {

}
.underline::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    left: 52%;
    margin-top: 3rem;
}

@media screen and (max-width:768px) {
    .underline {

    }
    .underline::after {
        content: '';
        /* position: absolute; */
        height: 3px;
        background-color: var(--main-color);
        width: 100px;
        left: 16%;
        margin-top: 2.2rem;
    } 
}

/* services section */
.service h2 {
    font-size: 3rem;
}
.card .icon i {
    font-size: 3rem;
    border: 10px solid var(--main-color) ;
    border-radius: 100%;
    padding: 1.5rem;
    transition-property: all;
    transition-duration: 0.5s;
}
.card .icon i:hover {
    background-color: var(--main-color);
    color: white;
    border: 10px solid #cde1f8;
}
section {
    background-color: #f5f5f5;
}

/* counters section */
#counters {
    background-image: url(../images/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#counters i {
    font-size: 2rem;
    border: 1rem #cde1f8 solid ;
    border-width: 0.5rem;
    padding: 1rem;
}
#counters .row {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* PORTFOLIO SECTION */
.portfolio h2 {
    font-size: 3rem;
}
#PORTFOLIO i {
    color: var(--main-color);
}
#PORTFOLIO img{
    transition-property: all;
    transition-duration: 1s;
}
#PORTFOLIO img:hover {
    transform: scale(1.1);
}
/* TESTMONIAL SECTION */
#TESTMONIALS {
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.double-comma {
    color: var(--main-color);
    border: 5px solid white;
    border-radius: 100%;
    padding: 0.25rem;
    background-color: white;
    margin-bottom: 3rem;
}

/* BLOG section */
.blog h2 {
    font-size: 3rem;
}
#BLOG p {
    line-height: 1.6rem ;
}
#BLOG .x {
    width: 10%;
    border-radius: 100%;
    
}
.worrds {
    color: black;
    transition-property: all;
    transition-duration: 1s;
    
}
.words:hover {
    color: var(--main-color);
    
}
#BLOG .y {
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 33%;
    margin-top: -13%;
}
#BLOG .hoover {
    transition-property: all;
    transition-duration: 0.5s;

}
#BLOG .hoover:hover {
    color: var(--main-color);
}
#BLOG .container .row .col-md-4 .card .card-body h5 a {
    transition-property: all;
    transition-duration: 0.5s;
}
#BLOG .container .row .col-md-4 .card .card-body h5 a:hover {
    color: var(--main-color);
}

/* contacts section */
#CONTACTS  {
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.iccoon {
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border: solid 4px var(--main-color);
    transition-property: all;
    transition-duration: 0.5s;
    left: 0;
}
.iccoon:hover {
    color: white;
    background-color: var(--main-color);
    border: solid 4px  #cde1f8;
}

.send-message {
    background-color: var(--main-color);
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight:500 ;
    border: 5px solid var(--main-color) ;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    margin-bottom: 2rem;
}

.send-message:hover {
    background-color: rgb(50, 91, 225);
    border: 5px solid #cde1f8;
    color: #ffffff;
    border-radius: 30px;
}
.underline2 {

}
.underline2::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    left: 8%;
    margin-top: 3rem;
}
.underline3 {

}
.underline3::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    left: 8%;
    margin-top: 3rem;
}
.mid-line {
    width: 3%;
    margin: auto;
    height: 5px;
    color: var(--main-color);
    background-color: var(--main-color);
}
